/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  body {
    background: url('assets/matchbox-house.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;        
  }
  .profile-card {
    background-color: hsla(0, 0%, 100%, 0.55);
    width: 480px;
    max-width: calc(100vw - 10px);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }
  .head, .links {
    text-align: center;  
  }
  .head, .content {
    width: 90%;
    margin: 0 auto;
    }
  .content {
    padding: 5% 10%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
    text-align: justify;
    }
  .head, .about {
    margin-bottom: 5%;
  }
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
     padding: 1px;
    background-color: #666;
    filter: grayscale(50%);
    transition: all 0.5s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
    filter: grayscale(20%);
  }
  .profile-image {
    margin-top: -60px;
    
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    font-size: 40px;
  }
  .blue {
    color:blue;
  }
  .purple {
    color: purple;
  }
  .about {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .winner {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: italic;
  }
  